.formIcon
{
    font-size: 22px;
}

.mainContainer
{
    width: 35%;
    margin: auto;
}

.submitBtn
{
    width: 40%;
    margin-left: auto;
}

.mainContainerIndex
{
    width: 65%;
    margin: auto;
}

@media only screen and (max-width: 1920px)
{  
    .mainContainer
    {
        width: 55%;
    }

    .mainContainerIndex
    {
        width: 75%;
    }
}

@media only screen and (max-width: 1450px)
{  
    .mainContainer
    {
        width: 70%;
    }

    .mainContainerIndex
    {
        width: 80%;
    }
}

@media only screen and (max-width: 1141px)
{  
    .mainContainer
    {
        width: 80%;
    }

    .mainContainerIndex
    {
        width: 90%;
    }
}

@media only screen and (max-width: 900px)
{  
    .cardContainer
    {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px)
{  
    .mainContainer
    {
        width: 95%;
    }

    .submitBtn
    {
        width: 100%;
    }

    .mainContainerIndex
    {
        width: 95%;
    }
}