.formIcon
{
    font-size: 22px;
}

.mainContainer
{
    width: 35%;
    margin: auto;
}

.submitBtn
{
    width: 40%;
    margin-left: auto;
}

.mainContainerIndex
{
    width: 65%;
    margin: auto;
}

.medias
{
    width: 75%;
    height: 250px;
    object-fit: cover;
}

@media only screen and (max-width: 1920px)
{  
    .mainContainer
    {
        width: 55%;
    }

    .mainContainerIndex
    {
        width: 80%;
    }

    .medias
    {
        width: 85%;
        height: 250px;
    }
}

@media only screen and (max-width: 1450px)
{  
    .mainContainer
    {
        width: 70%;
    }

    .mainContainerIndex
    {
        width: 85%;
    }
}

@media only screen and (max-width: 1141px)
{  
    .mainContainer
    {
        width: 80%;
    }

    .mainContainerIndex
    {
        width: 95%;
    }

    .submitBtn
    {
        width: 65%;
    }
}

@media only screen and (max-width: 1000px)
{
    .cardContainer
    {
        flex-wrap: wrap;
    }

    .mainContainerIndex
    {
        width: 60%;
    }
}

@media only screen and (max-width: 800px)
{

    .mainContainerIndex
    {
        width: 80%;
    }
}

@media only screen and (max-width: 600px)
{  
    .mainContainer
    {
        width: 95%;
    }

    .submitBtn
    {
        width: 100%;
    }

    .mainContainerIndex
    {
        width: 95%;
    }

}